@page "/counter"

<h1>Счетчик степени числа</h1>
<p>
    <label>Основание степени:</label>
    <input type="number" @bind-value="@numberInput" />
</p>
<p>
    <label>Показатель степени:</label>
    <input type="number" @bind-value="@powerOfTheNum" />
</p>
<p> Ответ: @answer</p>
<button @onclick="DegreeCheck">Посчитать</button>

@code {
    int numberInput = 0;
    int powerOfTheNum = 0;
    string answer = "...";

    private void DegreeCheck()
    {
        int integerAnswer = 1;
        if (powerOfTheNum == 1) answer = numberInput.ToString();
        if (numberInput == 0) answer = numberInput.ToString();
        if (powerOfTheNum == 0) answer = "1";
        if (powerOfTheNum > 0)
        {
            for (int i = 1; i <= powerOfTheNum; i++)
            {
                integerAnswer = integerAnswer * numberInput;
            }
            answer = $"{integerAnswer}";
        }
        else if (powerOfTheNum < 0)
        {
            double result = numberInput;
            for (int i = 1; i < powerOfTheNum * (-1); i++)
            {
                result = result * numberInput;
            }
            result = 1 / result;
            answer = $"{result}";
        }
    }
}
