@page "/exam"

<h1>Подготовка к ОГЭ</h1>

<h2>Варианты:</h2>

<ul>
    <li><a href="/Variants/variant1">Вариант 1</a></li>
    <li><a href="#">Вариант 2</a></li>
    <li><a href="#">Вариант 3</a></li>
    <li><a href="#">Вариант 4</a></li>
    <li><a href="#">Вариант 5</a></li>
</ul>
@code {

}
